

</main>
<footer class="footer">
    <p>By using this service, you agree to our
        <a href="/terms"><strong>Terms of Service</strong></a> and <a href="/privacy"><strong>Privacy Policy</strong></a></p>
    <p>&copy; All Rights Reserved</p>
</footer>

</body>
</html>
