<%- include('./partials/header.ejs') %> 
<h4>Available Dates</h4>
<% results.forEach( (item) => { %>
<div class="container col-5">
  
  <div class="results">
  
     <p><span><%=item.venue%></span> : <span><%=item.date%></span></p>
     
  </div>
 
</div>

<%})%> <%- include('./partials/footer.ejs') %>
