
<%- include('./partials/header.ejs') %>
<div class="terms">
<h4><strong>Terms of service</strong></h4>
<p>
    <span><strong> Limited provides its services to you subject to the following terms & conditions, which you accept by using the service.</strong></span>


    <span><strong>Last update: 10.01.2021</strong></span>


    <span>All software and services (the Testbot app, notifications service) are provided by BD3app Limited (the company), and are on an ‘as is’ and ‘as available’ basis with no warranties of any kind. This does not affect your statutory rights.</span> 
    
    <span>2. By using Testbot app, and providing us with your driving licence number, you agree to us login to the DVSA website and for tests cancellations.</span>
    
    <span>3. The company has no affiliation with the Driver and Vehicle Standards Agency (DVSA). Subscription to this service does therefore not guarantee to find you an earlier test date.</span>
    
    <span>4. We are not responsible for booking a driving test for you, or changing an existing one.</span>
    
    <span>5. The correct date of your driving test is the one that appears in the DVSA website. The d<span></span>ate in the app might be incorrect in some cases, we don't take any responsibility for an inaccurate date that might appear in the app.</span>
    
    <span>6. When using our premium service, we will check the DVSA website for you and will send you notification once we find an earlier test in your test centre. We don't guarantee that you will receive notification for every test cancellation that happened.</span>
    
    <span>7. When we send you a notification with an earlier test it means that we found an earlier test for you. We don't guarantee that by the time that you will login to the DVSA website the test will still be available. We don't save it for you or responsible for the booking process.</span>
    
    <span>8. Our notifications service is an information service only, it provides an access to an automated service that sends you notifications for test cancellations.</span>
    
    <span>9. Our premium (payed) account provides you an access to our automated notifications service. You can use a premium account on one device only. You can use it until you pass your driving test.</span>
    
    <span> The learner driver is responsible for turning up to the driving test, taking the correct documents and ensuring that the car they use is suitable for the test. We cannot be held responsible for any tests cancelled due to reasons that are the responsibility of the learner driver or their driving instructor including, but not limited, to the above learner driver responsibilities.</span>
    
    <span> As per the Consumer Contracts (Information, Cancellation and Additional Charges) Regulations 2013, you are entitled to cancel your purchase and request a full refund of your payment, within 14 days from purchase, as long as the service is yet to begin. The service starts as soon as we start searching for practical tests for you, which will normally start soon after payment and entry of your preferences.</span>
    
    <span>12. We will record details of usage of the service including, but not limited to, your personal details provided at the time of taking out the services, search times, dates and times that are found.</span>
    
    <span></span>13. By giving us your details you agree to us passing your information to the DVSA in order to check for earlier tests for you. If you are using our Apple push notification apps, driving test alerts will be sent to you by our third party communication supplier based in the USA. We will not send them your personal information. All details will be held by us in accordance with the Data Protection Act.
    
    <span>14. Each account purchased from us can only be used to search for practical driving tests on behalf of the owner of the driving licence number that is entered in the driving licence number box on the account preferences form. We reserve the right to suspend accounts without refund where we believe the account is not being used according to this rule. We will make reasonable efforts to contact you before suspending your account.</p></span>
</div>
    <%- include('./partials/footer.ejs') %>